<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BGP Portal Suite" parallel="false" verbose="1">
    <test name="BGP Portal Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.GrantApplicationTest"/>
            <class name="tests.EligibilityTest"/>
            <class name="tests.ContactDetailsTest"/>
            <class name="tests.ProjectDetailsTest"/>
            <class name="tests.BusinessImpactTest"/>
            <class name="tests.CostDetailTest"/>
            <class name="tests.DeclarationTest"/>
            <class name="tests.ViewTest"/>
        </classes>
    </test>
</suite>